#main_box {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 70vw;
}

#imgs {
  width: 200px;
  height: auto;
  padding: 20px;
  flex-shrink: 0;
  position: relative;
}
