#main_box {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  height: auto;
}

#imgs {
  width: 200px;
  height: auto;
  padding: 5px;
  flex-shrink: 0;
  position: relative;
  border-radius: 15px;
}

#img_info {
  width: 200px;
  height: auto;
  padding: 20px;
  flex-shrink: 0;
  position: absolute;
}
